html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: row;
}

* {
  box-sizing: border-box;
}

input[type=number] {
  appearance: textfield;
  /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.468);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
