

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  background-image: linear-gradient(to bottom, #fff7e8, #dcc085);
  min-width: calc(100vw);
  color: black;
  overflow-y:scroll
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  gap: 3rem;
  padding-left: 1rem;
  padding-right: 0;
  padding-bottom: 4rem;
}


@media (min-width: 600px) {
  .main {
    min-width: calc(100vw - 270px);
  }
}

@media (min-width: 1200px) {
  .main {
    min-width: calc(100vw - 420px);
  }
}

.title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 0;
}

@media (min-width: 640px) {
  .title {
    font-size: 5rem;
  }
}

.pinkSpan {
  color: rgb(130, 64, 163);
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 1rem;
}

.list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.mainPage {
  width: 100%;
}

.searchBar{
  margin-top:40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 60vw;
  height: 80px;
  gap: 10px
}

.discoverBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  gap: 1rem;
  background-color: #2a2a2a;
  color: white;
  min-width: 200px;
  max-height: 100vh;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.1);
}

.eventCard {
  width: 150px;
  height: 300px;
}

.eventCard h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}

.eventCard img{
  
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 0.75rem;
}

.eventCard p {
  margin: 0;
  text-overflow:ellipsis;
}

.discoverCard {

  width: 100%;
}

@media (max-width: 600px) {
  .discoverBar{
    display: none;
  }
}

@media (min-width: 600px) {
  .main {
    min-width: calc(100vw - 270px);
  }
}

@media (min-width: 1200px) {
  .main {
    min-width: calc(100vw - 420px);
  }
}


